.movies {
  padding-block: 70px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header .feature {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
}

.header .see-more {
  display: flex;
  color: var(--clr-red);
  align-items: center;
  justify-content: center;
}

.header .see-more img {
  width: 20px;
  height: 20px;
}

.movie-card-container {
  padding-block: 2.75rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 80px;
  row-gap: 100px;
}

@media screen and (max-width: 1300px) {
  .movie-card-container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 50px;
  }
}

@media screen and (max-width: 900px) {
  .movie-card-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 50px;
  }
}

@media screen and (max-width: 475px) {
  .movie-card-container {
    grid-template-columns: 1fr;
  }

  .header .feature {
    font-size: 30px;
  }
}
